{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Смена пароля</title>
    <link rel="stylesheet" href="{% static 'user_interface/css/styles.css' %}" type="text/css"/>
</head>
<body>
        {% if request.user.is_authenticated %}
          <a><p>Пользователь авторизован. Имя пользователя: {{request.user.username}}</p></a>
          <a>Сменить пароль</a>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            {%for f in form%}
            <p><label class="form-label" for="{{f.id_for_label}}">{{f.label}}:</label>{{f}}</p>
            {%endfor%}
            <button type="submit">Сменить пароль</button>
        </form>
        {% else %}
        <a>Вы не авторизованы</a>
        {% endif %}
</body>
</html>